@import "styles/global.scss";

$accent-color: #fbd5b0;
$grid-breakpoint: 700px;
$smallest-breakpoint: 520px;
$headline-border-offset: 0.5em;

.about-banner {
  img {
    width: 100%;
    height: auto;
  }
}
