.case-study-page {
  .case-study-container {
    padding: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;

    &:nth-of-type(even) {
      flex-flow: row-reverse;
      @media screen and (max-width: 835px) {
        flex-direction: column-reverse;
      }
    }

    .case-study-grid,
    .case-study-caption {
      width: 45vw;
      border: 1px solid red;
    }

    .case-study-grid {
      width: 25%;
      .site-col-4 img {
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: 835px) {
        width: 80%;
      }
    }

    .case-study-caption {
      padding: 10px;

      h3 {
        font-size: 20px;
      }

      p {
        text-align: left;
      }

      @media screen and (max-width: 835px) {
        width: 80%;
      }
    }

    @media screen and (max-width: 835px) {
      flex-direction: column-reverse;
    }
  }
}
