.site-hero {
  margin-top: 50px;
  height: calc(100vh - 50px);
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400&family=DM+Serif+Display&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.hero-container {
  animation: fadeIn 2s;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-height: 93vh;
  background-color: #141414;
  position: relative;
  grid-template-rows: repeat(12, 1fr);

  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: DM Sans, sans-serif;
  }

  .menu {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .content {
    margin-top: 2rem;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
    color: #fff;
    text-align: right;
    margin-right: 1rem;
    font-weight: 400;
    @media screen and (max-width: 640px) {
      grid-column: 1/6;
      -ms-grid-row: 4;
      -ms-grid-row-span: 2;
      grid-row: 6/6;
    }
  }

  .content p {
    margin-top: 0.6rem;
  }

  .header {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8 / 10;
    font-family: DM Serif Display, serif;
    font-size: 6rem;
    color: #fff;
  }

  .readmore {
    -ms-grid-column: 12;
    -ms-grid-column-span: 1;
    grid-column: 12 / 13;
    grid-row: -9 / -6;
  }

  .readmore img {
    height: 8.75rem;
    width: auto;
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.875rem;
    position: absolute;
    flex-direction: column;
    justify-self: space-around;
    grid-column: 1 / 2;
    grid-row: 3 / 9;
    -ms-flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    @media screen and (max-width: 640px) {
      grid-row: none;
    }
  }

  .social svg {
    display: block;
    margin-top: 2rem;
  }

  @media screen and (max-width: 1047px) {
    .header {
      font-size: 5rem;
    }

    .content p {
      font-size: 0.8rem;
    }

    .social img {
      height: 80px;
      width: auto;
    }

    .social img:last-child {
      height: 60px;
    }
  }

  @media screen and (max-width: 930px) {
    .header {
      -ms-grid-column: 4;
      -ms-grid-column-span: 8;
      grid-column: 4 / 12;
      font-size: 3rem;
    }

    .menu {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

  @media screen and (max-width: 640px) {
    .header {
      grid-column: 1/12;
      padding-left: 20px;
    }

    .content {
      padding-left: 20px;
      text-align: left;
      
    }
  }
}
