@import "./grid.scss";
@import "aos/dist/aos.css";
@import "styles/global.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: $global-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background: $global-color;
  color: $global-color;
}

main {
  background: #fff;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.responsive-image {
  width: 100%;
  height: auto;
}
