@import "styles/global.scss";

.contact-container {
  display: flex;
  width: 100%;
  height:90vh;

  .phone-container,
  .email-container {
    cursor: pointer;
    text-transform: uppercase;
    width: 50vw;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3,
    h2 {
      margin: 0px 0px 5px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 14px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .phone-container {
    background: $global-color;
    color: white;
  }
  
  .email-container {
    color: $global-color;
    background: white;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    .phone-container,
    .email-container {
      width: 100vw;
      height: 45vh;
    }
  }
}