.ant-menu,
.ant-menu-active-item:hover {
  background: #1b1b1b;
  color: white;
}

.ant-menu-item:hover {
  color: #1b1b1b;
  background: white;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  background: #1b1b1b !important;
}

.ant-menu-item-active {
  color: #1b1b1b !important;
  background: white !important;
}

.ant-menu-item {
  cursor: pointer;
}

header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .desktop-menu {
    @media screen and (max-width: 835px) {
      display: none;
    }
  }

  .mobile-menu {
    display: none;
    background: #1b1b1b;
    height: 46px;

    @media screen and (max-width: 835px) {
      display: flex;
      justify-content: flex-end;

      &-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      span {
        text-align: center;
        font-size: 30px;
        align-self: center;
        padding: 10px;
      }
    }
  }
}

.small-menu {
  border-top: 1px solid #808080;
  position: fixed;
  top: 0;
  background: #1b1b1b;
  color: white;
  width: 100%;
  z-index: 1;
  top: 46px;
  z-index: 10;
}
