@import "styles/global.scss";
@import "styles/keyframes.scss";

.ant-collapse {
  background: $global-color;
  color: white;
  width: 100%;
  margin: auto;
}

.ant-collapse-header {
  color: white !important;
  font-weight: 800;
}

.ant-collapse-content {
  background: #f0f0f0 !important;
  animation: fadeIn 1s;
}
