.site-footer {
  background: #000000;
  color: #ffffff;
  padding: 30px;

  .service-links {
    &-container {
      padding: 0px 20px;

      h3 {
        margin: 10px 0px;
      }
    }

    &-handle {
      margin: 5px 0px;
      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }

  .footer-contact {
    &-container {
      padding: 0px 20px;

      h3 {
        margin: 0px;
        text-align: center;
      }

      a {
        text-decoration: none;
      }

      .footer-icons {
        display: flex;

        &-link {
          margin: auto;
        }
      }
    }

    &-frame {
      width: 90%;
      margin: 0px auto;
      text-align: center;

      button {
        margin: 20px;
        outline: none;
      }

      .custom-btn {
        width: 100%;
        height: 40px;
        padding: 10px 25px;
        border: 2px solid #000;
        font-family: DM Sans, sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      }

      .btn-12 {
        position: relative;
        right: 20px;
        bottom: 20px;
        border: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        -webkit-perspective: 230px;
        perspective: 230px;

        span {
          display: block;
          position: absolute;
          width: 100%;
          height: 40px;
          border: 2px solid #000;
          border-radius: 10px;
          margin: 0;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          background: white;

          &:nth-child(1) {
            box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
          }

          &:nth-child(2) {
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
            -webkit-transform-origin: 50% 50% -20px;
            -moz-transform-origin: 50% 50% -20px;
            transform-origin: 50% 50% -20px;
          }
        }

        &:hover span:nth-child(1) {
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          transform: rotateX(0deg);
        }

        &:hover span:nth-child(2) {
          background: #e0e5ec;
          color: #e0e5ec;
          -webkit-transform: rotateX(-90deg);
          -moz-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .service-links {
    &-container {
      grid-column: span 6;

      h3 {
        font-size: 25px;
      }
    }

    &-handle {
      margin: 10px 0px !important;
    }
  }

  .footer-contact-container {
    grid-column: span 12;
    padding: 0px !important;
  }
}

@media screen and (max-width: 480px) {
  .service-links {
    &-container {
      grid-column: span 12;
    }
  }
}
