.site-footer {
  background: #000000;
  color: #ffffff;
  padding: 30px;

  .site-grid {
    @media screen and (max-width: 640px) {
      padding-top: 10px;
    }
  }

  .service-links {
    &-container {
      padding: 0px 20px;
      @media screen and (max-width: 640px) {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid gray;
      }

      h3 {
        margin: 10px 0px;
      }
    }

    &-handle {
      margin: 5px 0px;
      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }

  .footer-contact {
    &-container {
      padding: 0px 20px;
      text-align: center;

      @media screen and (max-width: 640px) {
        padding: 20px;
      }

      h3 {
        margin: 0px;
        text-align: center;
      }

      a {
        text-decoration: none;
      }

      .footer-icons {
        display: flex;
        margin-top: 20px;

        &-link {
          margin: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .service-links {
    &-container {
      grid-column: span 6;

      h3 {
        font-size: 25px;
      }
    }

    &-handle {
      margin: 10px 0px !important;
    }
  }

  .footer-contact-container {
    grid-column: span 12;
  }
}

@media screen and (max-width: 480px) {
  .service-links {
    &-container {
      grid-column: span 12;
    }
  }
}
